# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [3]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [7]:
users.groupby('occupation').age.mean().to_frame()\
    .sort_values(by='age', ascending=False)

                     age
occupation
retired        63.071429
doctor         43.571429
educator       42.010526
healthcare     41.562500
librarian      40.000000
administrator  38.746835
executive      38.718750
marketing      37.615385
lawyer         36.750000
engineer       36.388060
writer         36.311111
salesman       35.666667
scientist      35.548387
other          34.523810
technician     33.148148
programmer     33.121212
homemaker      32.571429
artist         31.392857
entertainment  29.222222
none           26.555556
student        22.081633

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [31]:
male_ratio = users[users.gender == 'M'].groupby('occupation').agg({'gender' : 'count'}) / \
              users.groupby('occupation').agg({'gender' : 'count'})
male_ratio

                 gender
occupation
administrator  0.544304
artist         0.535714
doctor         1.000000
educator       0.726316
engineer       0.970149
entertainment  0.888889
executive      0.906250
healthcare     0.312500
homemaker      0.142857
lawyer         0.833333
librarian      0.431373
marketing      0.615385
none           0.555556
other          0.657143
programmer     0.909091
retired        0.928571
salesman       0.750000
scientist      0.903226
student        0.693878
technician     0.962963
writer         0.577778

### Step 6. For each occupation, calculate the minimum and maximum ages

In [19]:
users.groupby('occupation').age.agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [21]:
users.groupby(['occupation', 'gender']).age.mean().to_frame()

                            age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

### Step 8.  For each occupation present the percentage of women and men

In [29]:
from numpy import abs
m_fm_percents = pd.DataFrame()
m_fm_percents['Male'] = male_ratio * 100
m_fm_percents['Female'] = abs(1 - male_ratio) * 100

m_fm_percents

                     Male     Female
occupation
administrator   54.430380  45.569620
artist          53.571429  46.428571
doctor         100.000000   0.000000
educator        72.631579  27.368421
engineer        97.014925   2.985075
entertainment   88.888889  11.111111
executive       90.625000   9.375000
healthcare      31.250000  68.750000
homemaker       14.285714  85.714286
lawyer          83.333333  16.666667
librarian       43.137255  56.862745
marketing       61.538462  38.461538
none            55.555556  44.444444
other           65.714286  34.285714
programmer      90.909091   9.090909
retired         92.857143   7.142857
salesman        75.000000  25.000000
scientist       90.322581   9.677419
student         69.387755  30.612245
technician      96.296296   3.703704
writer          57.777778  42.222222